@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade-up {
    from {
        opacity: 0%;
        transform: translateX(-2rem);
    }
    to {
        opacity: 100%;
        transform: translateX(0rem);
    }
}

.fade-up {
    animation: fade-up 1s forwards;
}