@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes rotate {
    0% {
      transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(360deg) rotateY(720deg) rotateZ(1080deg);
    }
}

.dice {
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    transform-origin: center center;
    transform: rotateY(0) rotateX(90deg) rotateZ(0);
    animation: rotate 16s linear infinite;
}

.side {
    width: 0;
    height: 0;
    position: absolute;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.side:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 48px solid transparent;
    border-right: 48px solid transparent;
    border-bottom: 97px solid #dddddd;
    position: absolute;
    left: -48px;
    top: 2px;
}

/* TOP 5 FACES */
.one {
    transform-origin: top;
    transform:translateZ(243px)  rotateX(-47deg);
}

.two {
    transform-origin: top;
    transform:translateZ(243px)  rotateZ(72deg) rotateX(-47deg);
}

.three {
    transform-origin: top;
    transform:translateZ(243px)  rotateZ(144deg) rotateX(-47deg);
}

.four {
    transform-origin: top;
    transform:translateZ(243px) rotateZ(216deg) rotateX(-47deg);
}

.five {
    transform-origin: top;
    transform:translateZ(243px)  rotateZ(288deg) rotateX(-47deg);
}

.eleven {
    transform-origin: bottom;
    transform:translateZ(243px) translateY(-100px) rotateZ(36deg) translateY(-68.19984px) translateZ(-72.13537px) rotateX(81deg);
}

.thirteen {
    transform-origin: bottom;
    transform:translateZ(243px) translateY(-100px) rotateZ(108deg) translateY(-68.19984px) translateZ(-72.13537px) rotateX(81deg);
}

.fifteen {
    transform-origin: bottom;
    transform:translateZ(243px) translateY(-100px) rotateX(180deg) translateY(-68.19984px) translateZ(72.13537px) rotateX(-81deg);
}

.seventeen {
    transform-origin: bottom;
    transform:translateZ(243px) translateY(-100px) rotateZ(252deg) translateY(-68.19984px) translateZ(-72.13537px) rotateX(81deg);
}

.nineteen {
    transform-origin: bottom;
    transform:translateZ(243px) translateY(-100px) rotateZ(324deg) translateY(-68.19984px) translateZ(-72.13537px) rotateX(81deg);
}

/* TOP HALF */

/* BOTTOM HALF */

.six {
    transform-origin: top;
    transform:rotateZ(36deg) rotateX(47deg);
}

.seven {
    transform-origin: top;
    transform: rotateZ(36deg) rotateZ(72deg) rotateX(47deg);
}

.eight {
    transform-origin: top;
    transform: rotateZ(36deg) rotateZ(144deg) rotateX(47deg);
}

.nine {
    transform-origin: top;
    transform: rotateZ(36deg) rotateZ(216deg) rotateX(47deg);
}

.ten {
    transform-origin: top;
    transform: rotateZ(36deg) rotateZ(288deg) rotateX(47deg);
}

.twelve {
    transform-origin: bottom ;
    transform: translateY(-100px) rotateZ(36deg) rotateZ(36deg) translateY(-68.19984px) translateZ(72.13537px) rotateX(-81deg);
}

.fourteen {
    transform-origin: bottom;
    transform:translateY(-100px) rotateZ(36deg) rotateZ(108deg) translateY(-68.19984px) translateZ(72.13537px) rotateX(-81deg);
}

.sixteen {
    transform-origin: bottom;
    transform:translateY(-100px) rotateZ(36deg) rotateX(180deg) translateY(-68.19984px) translateZ(-72.13537px) rotateX(81deg);
}

.eighteen {
    transform-origin: bottom;
    transform:translateY(-100px) rotateZ(36deg) rotateZ(252deg) translateY(-68.19984px) translateZ(72.13537px) rotateX(-81deg);
}

.twenty {
    transform-origin: bottom;
    transform:translateY(-100px) rotateZ(36deg) rotateZ(324deg) translateY(-68.19984px) translateZ(72.13537px) rotateX(-81deg);
}

/* BOTTOM HALF */