@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade-up {
    from {
        opacity: 0%;
        transform: translateX(-2rem);
    }
    to {
        opacity: 100%;
        transform: translateX(0rem);
    }
}

@keyframes slide-in {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes slide-out {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
}

.fade-up {
    animation: fade-up 1s forwards;
}

.slide-in {
    animation: slide-in 0.5s forwards;
}

.slide-out {
    animation: slide-out 0.5s forwards;
}